
<div class="container">
	<div class="row-fluid">
		<h1>Food Grab It</h1>
	</div>
	<div class="row-fluid">
		<p>Keep a log of your favorite places to eat anywhere in the world.</p>
	</div>
	<div class="row-fluid text-center">
		<%= image_tag "sample_map.jpg" %>
	</div>
</div>